#root {
  background-color: #262626;
  color: #f0f0f0;
}
.container-fluid {
  background-color: #262626;
  color: #f0f0f0;
}

.list-group-item {
  background-color: #303030;
  color: #f0f0f0;
}
.list-group-item:hover {
  background-color: #424242;
}

.form-control {
  background-color: #303030;
  color: #f0f0f0;
  border: 1px solid #141414;
}

.form-control:focus {
  border: 1px solid #141414;
  background-color: #424242;
  color: #f0f0f0;
}

.active-file-item:hover, .active-event-item:hover, .active-conversation-item:hover {
  background-color: #262626;
  cursor: default;
}

.option-list-item, .event-list-item, .conversation-list-item {
  background-color: #303030;
  color: #f0f0f0;
}

.active-file-item, .active-event-item, .active-conversation-item {
  background-color: #262626;
}

.add-demand-btn {
  background-color: #303030;
  color: #f0f0f0;
  border: 1px solid #141414;
}
.list-group {
  scrollbar-color: #424242 #141414;
}
/* Track */
::-webkit-scrollbar-track {
  background: #424242; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141414; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #141414; 
}